<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Headers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="selectedCategory" (ionChange)="segmentChanged($event)" scrollable="true" mode="md">
    <div *ngFor="let category of categories">
      <ion-segment-button [value]="category"  class="ion-text-capitalize">
        <ion-label>{{category}}</ion-label>
      </ion-segment-button>
    </div>
  </ion-segment>

  <app-article-list [articles]="filteredByCategoryNews"></app-article-list>
</ion-content>
